* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
.logo {
  margin-left: 50px;
}
.header-text {
  background-image: url(images/pro.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-position: 85%;
  background-color: black;
  background-size: 550px;
}

.head-text {
  padding-top: 150px;
}
.head-text-title {
  font-size: 55px;
}
.head-text-title span {
  color: #ff004f;
}
.aboutme-page {
  height: 90vh;
  background-color: rgb(57, 54, 54);
}
.aboutme-sub-title {
  font-size: 60px;
  text-align: center;
}
/* -------skills------- */
.skills {
  height: 90vh;
  background-color: black;
  color: white;
}
.subtitle-skill {
  font-size: 90px;
}
.skillbar-html {
  box-shadow: 0 0 10px #f2f2f2;
  background-color: rgb(57, 54, 54);
  padding: 3px 0;
  padding-right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 5px;
  margin: 30px;
}
.skillbar-css {
  box-shadow: 0 0 10px #f2f2f2;
  background-color: rgb(57, 54, 54);
  padding: 3px 0;
  padding-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin: 30px;
}
.skillbar-js {
  box-shadow: 0 0 10px #f2f2f2;
  background-color: rgb(57, 54, 54);
  padding: 3px 0;
  padding-right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 5px;
  margin: 30px;
}
.skillbar-react {
  box-shadow: 0 0 10px #f2f2f2;
  background-color: rgb(57, 54, 54);
  padding: 3px 0;
  padding-right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 5px;
  margin: 30px;
}
/* ------work---- */
.work {
  height: 140vh;
  background-color: rgb(57, 54, 54);
  color: white;
  text-align: center;
}
.subtitle-work {
  font-size: 70px;
}
.mywork {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* -----contact--- */
.contact {
  padding: 150px 0;
  background-color: black;
  color: white;
  height: 70vh;
  display: flex;
  flex-direction: row;
}
.contact-left {
  flex: 0 0 35%;
  width: 35%;
  text-align: center;
  left: 0;
}
.contact-right {
  flex: 0 0 65%;
  max-width: 65%;
}
.contact-subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 55px;
}
#email {
  color: blue;
  margin-right: 10px;
  font-size: 20px;
}
#phone {
  color: green;
  font-size: 20px;
  margin-right: 10px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  font-size: 22px;
  margin-right: 15px;
  color: #ababab;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btnbtn1 {
  display: inline-block;
  background-color: #ff004f;
  padding: 10px 45px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: 0;
  margin-top: 10px;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
form textarea {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .head-text {
    padding-top: 10px;
  }
  .head-text-title {
    font-size: 30px;
  }
  .aboutme-page .aboutme-img {
    height: 400px !important;
    width: 400px !important;
    margin-top: 20px;
  }
  .aboutme-page {
    display: flex;
    flex-direction: column;
  }
  .aboutme-sub-title {
    font-size: 30px;
  }
  .aboutme-page .aboutme-para {
    font-size: 16px !important;
  }
  .subtitle-skill {
    font-size: 30px;
  }
  .subtitle-work {
    font-size: 30px;
  }
  .mywork img {
    height: 190px;
    width: 190px;
    margin: 10px;
  }
  ul li {
  }
}
